@font-face {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./8vIU7ww63mVu7gtR-kwKxNvkNOjw-jHgTYo.woff2") format("woff2");
}

@font-face {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./8vIU7ww63mVu7gtR-kwKxNvkNOjw-jHgTYo.woff2") format("woff2");
}

@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklWgzORc.woff2") format("woff2");
}

@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklWgzORc.woff2") format("woff2");
}

@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklWgzORc.woff2") format("woff2");
}

@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklY80ORc.woff2") format("woff2");
}

@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./Dxx78j6PP2D_kU2muijPEe1n2vVbfJRklY80ORc.woff2") format("woff2");
}
