@import "tailwindcss";

@theme {
  --color-gold: #D4AF37;
  --color-dark-gold: #B4941F;
  --color-sand-light: #F9F7F2;
  --color-sand-dark: #EBE5CE;
  --color-deep-black: #1a1a1a;

  --font-epic: Cinzel, serif;
  --font-body: Vazirmatn, sans-serif;
}