@import "tailwindcss";

@theme {
  --color-gold: #D4AF37;
  --color-dark-gold: #B4941F;
  --color-sand-light: #F9F7F2;
  --color-sand-dark: #EBE5CE;
  --color-deep-black: #1a1a1a;

  --font-epic: Cinzel, serif;
  --font-body: Vazirmatn, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-sand-light);
}

::-webkit-scrollbar-thumb {
  background: var(--color-gold);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-gold);
}